.App header h4 {
  font-size: 1.25rem;
  font-weight: bolder;
  text-transform: uppercase;
}

.App header ul li {
  cursor: pointer;
}

.App .jumbotron {
  background: #fff;
}

.App .jumbotron h1 {
  font-weight: lighter;
  text-transform: uppercase;
}

.App .jumbotron p {}

.App .jumbotron canvas {
  margin: 0 auto;
}
